@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
 font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
    
  max-width: 95%;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.container h1 {
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  font-style: normal;
}

.table-container {
  margin-top: 40px;
  
  border-collapse: collapse;
  width: 100%;
  
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.table-container th,
.table-container td {
  padding: 18px;
  text-align: center;
}

.table-container th {
  background-color: black;
      font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  color: white;
}



.table-container tr:nth-child(even) {
  background: linear-gradient(
    90deg,
    #817a7a,
    #ffffff
  ); /* Gray to white gradient */
}

.table-container tr:nth-child(odd) {
  background: linear-gradient(
    90deg,
    #f7ebeb,
    #f2f2f2
  ); /* White to gray gradient */
}

.table-container tr:hover {
  background-color: #ddd;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.button {
  padding: 10px;

  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.button-openLink {
  background: linear-gradient(90deg, #008cba, #005a70); /* Gradient from #008cba to #005a70 */
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.button-copy {
  background: linear-gradient(90deg, #008cba, #005a70); /* Gradient from #008cba to #005a70 */
    border-radius: 10px;
    color: white;
    padding: 10px 30px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Hover effect for .button-sync */
.button-edit:hover {
    background: linear-gradient(90deg, #2e7d32, #1d5e24); /* Darker green gradient for .button-sync on hover */
}

/* Hover effect for .button-stop */
.button-delete:hover {
    background: linear-gradient(90deg, #d32f2f, #9a2525); /* Darker red gradient for .button-stop on hover */
}

.button-edit {
  background: linear-gradient(90deg, #4caf50, #2e7d32); /* Green gradient from #4caf50 to #2e7d32 */
  color: white;
  border-radius: 10px;
  padding: 10px 35px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.button-delete {
  background: linear-gradient(90deg, #f44336, #d32f2f); /* Red gradient from #f44336 to #d32f2f */
  color: white;
  border-radius: 10px;
  padding: 10px 35px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.button-openLink:hover {
  background: linear-gradient(90deg, #005a70, #00394a); /* Gradient from #005a70 to #00394a on hover */
}

.button-copy:hover {
  background: linear-gradient(90deg, #005a70, #00394a); /* Gradient from #005a70 to #00394a on hover */
}

.button-sign-in {
   background: linear-gradient(90deg, #008cba, #005a70); /* Gradient from #008cba to #005a70 */
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  
  font-style: normal;
  border-radius: 15px;
  padding: 8px 20px;
  color: white;
  border: none;
}

.button-sign-in:hover {
    background: linear-gradient(90deg, #005a70, #00394a); /* Gradient from #005a70 to #00394a on hover */
}
.sign-in-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

input[type="text"] {
  width: calc(100% - 10px);
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4CAF50;
}



 
.open-popup-btn {

   
    cursor: pointer;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    width: 35%;
    height: 70vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally and vertically */
  }
  
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000000;
  }
  form {
    width: 80%;
    padding: 10px; /* Adjust padding as needed */
  }
  
  .form-group {
width: 100%;
   margin: 50px auto;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .text-popup {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #007bff; /* blue background */
    color: #fff; /* white text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* darker blue on hover */
  }
  