
<div class="container">
{{#if isAuthenticated }}
<p class="namechange">Hi {{username}}!</p>
{{!-- <a href="/users/id">View ID token claims</a>
<br>
<a href="/auth/acquireToken">Acquire a token to call the Microsoft Graph API</a>
<br>
<br>
<a href="/auth/acquireToken2">Acquire a token to call the Microsoft Graph API</a>
<br>
<br> --}}
<div class="btn-cal-list">
<a href="/auth/calendarList">Here is the calendar List</a>
</div>
 <div class="btn-cal-list">
<a href="/auth/signout">Sign out</a>
 </div>
</div>

{{else}}
<div class="container">
   <img src="http://localhost:3000/uploads/logo.png" style="height: 100px; position:absolute; left:20%; display:block">
  <div class="button-container">
 

{{!-- <h1 style="margin-top: 20%; position:absolute; text-align:center ;display: inline-block;">Welcome to AD Ports Admin Panel</h1> --}}

<button class="button-sign-in" onclick="redirectToSignIn()">
  <h1 style="color: white;">Sign in</h1>
</button>
</div>
</div>
{{/if}}
<script>
  function redirectToSignIn() {
    // Redirect to the sign-in page on the same page using JavaScript
    window.location.href = "/auth/signin";
  }
</script>